h3{
    font-size: 1.5;
    color:  hsl(110, 100%, 25%);
    text-align:left;
    background-color: aquamarine;
}
h3:hover{
    color:rgb(133, 17, 17);
    background-color: yellow;
}
p{
    color:pink;
    background-color:rgb(79, 79, 105);
    font-size: 40px;
    font-style: italic;
    font-weight: 100;
    text-align: center;
}
#white{
    color: white;
    background-color: aqua;
    font-style:normal ;
    text-align: right;

}
body{
    background-color: gray;
}
h2{
    font-size: 1.5;
    color:  hsl(110, 100%, 25%);
    text-align:left;
    background-color: aquamarine;
}